<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>board list</title>
    <style>
        table {
            border-collapse: collapse;
        }
        td, th {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>
<h1>회원 목록 페이지</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>이름</th>
            <th>나이</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="member : ${memberList}">
            <td th:text="${member.memberId}">member1</td>
            <td th:text="${member.name}">홍길동</td>
            <td th:text="${member.age}">20</td>
        </tr>
    </tbody>
</table>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>