<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>
<h1>로그인 페이지</h1>
<form action="/member/login" method="post" th:object="${memberLoginDto}">
  <div>
    <label th:for="id">ID : </label>
    <input type="text" th:field="*{memberId}"/>
  </div>
  <div>
    <label th:for="pw">PW : </label>
    <input type="text" th:field="*{pw}"/>
  </div>
  <input type="submit" value="로그인"/>
</form>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>