<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>join</title>
</head>
<body>
<h1>회원가입 페이지</h1>
<form action="/member/join" method="post">
    <div>
        <label for="name">이름 : </label>
        <input id="name" type="text" name="name"/>
    </div>
    <div>
        <label for="age">나이 : </label>
        <input id="age" type="text" name="age"/>
    </div>
    <div>
        <label for="id">ID : </label>
        <input id="id" type="text" name="id"/>
    </div>
    <div>
        <label for="pw">PW : </label>
        <input id="pw" type="text" name="pw"/>
    </div>
    <input type="submit" value="회원가입"/>
</form>
</body>
</html>