<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>join</title>
</head>
<body>
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>
<h1>회원가입 페이지</h1>
<form action="/member/join" method="post" th:object="${memberJoinDto}">
    <div>
        <label th:for="name">이름 : </label>
        <input type="text" th:field="*{name}"/>
    </div>
    <div>
        <label th:for="age">나이 : </label>
        <input type="text" th:field="*{age}"/>
    </div>
    <div>
        <label th:for="id">ID : </label>
        <input type="text" th:field="*{memberId}"/>
    </div>
    <div>
        <label th:for="pw">PW : </label>
        <input type="text" th:field="*{pw}"/>
    </div>
    <input type="submit" value="회원가입"/>
</form>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>